.popup__save-button {
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  background-color: #000000;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  margin-top: 18px;
  padding: 14px 0;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__save-button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
}