.profile__info {
  max-width: 336px;
  min-height: 73px;
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-gap: 16px 18px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    min-height: 54px;
    grid-gap: 14px 10px;
    margin-bottom: 36px;
    text-align: center;
  }
}