.footer {
  max-width: calc(100vw - 19px*2);
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}